.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;

  position: sticky;
  top: 0;
  z-index: 100;

  background: rgba(20, 20, 20, 0.6);
  backdrop-filter: blur(18px);

  border-bottom: 1px solid rgba(212, 175, 55, 0.2);
}

.title {
  font-size: 40px;
  font-weight: 900;

  background: linear-gradient(135deg, #D4AF37, #F2D27A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  color: rgba(255,255,255,0.6);
  font-size: 12px;
  letter-spacing: 2px;
}

.langBtn {
  padding: 8px 14px;
  border-radius: 999px;
  border: none;
  cursor: pointer;

  background: rgba(255,255,255,0.08);
  color: white;

  transition: 0.3s;
}

.langBtn:hover {
  transform: translateY(-2px) scale(1.05);
}

.activeLang {
  background: linear-gradient(135deg, #D4AF37, #F2D27A);
  color: black;
}